:root {
	--charcoal: #36454f;
	--orange: #ff8303;
}
.footer_container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	letter-spacing: 1.5px;
}
.footer_container > .footer_contents_wrapper {
	background-color: var(--footer);
	color: white;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	justify-items: center;
	width: 100%;
	gap: 10px;
}
.footer_container > .footer_contents_wrapper > .footer_lists {
	display: flex;
	flex-direction: column;
	text-align: center;
	align-items: center;
	gap: 2rem;
	width: 100%;
	padding: 1rem;
}
.footer_container > .footer_contents_wrapper > .footer_lists > .logo > img {
	max-height: 40px;
	width: auto;
}
.footer_container > .footer_contents_wrapper > .footer_lists > .logo {
	display: flex;
	align-items: center;
	justify-content: center;
	height: fit-content;
}
.footer_container > .footer_contents_wrapper > .footer_lists:nth-child(1) > p {
	line-height: 1.8;
	font-weight: 400;
}
.footer_lists > span {
	display: flex;
	align-items: center;
}
.readMore_link {
	width: fit-content;
	background-color: var(--footer);
	padding: 10px;
	border-radius: 10px;
	letter-spacing: 2px;
	border: 0.5px solid white;
}

.footer_bottom {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
	padding: 1rem;
	width: 100%;
	gap: 10px;
	text-align: center;
}
.footer_bottom > .media {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 1rem;
}
@media (max-width: 900px) {
	.footer_bottom {
		display: flex;
		flex-direction: column;
	}
	.footer_bottom > .media {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 1rem;
		width: 100%;
	}
}
