:root {
	--charcoal: #36454f;
	--orange: #ff8303;
	--lightblue: #3498db;
	--color: #333333;
	--background: #f4f4f4;
	--footer: #2c3e50;
}
.home_container {
	background-color: var(--background);
	color: var(--color);
	width: 100%;
	margin-top: 95px;
}
.home_container > div {
	margin-bottom: 1rem;
}
.banner {
	background: linear-gradient(45deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.3)),
		url("../assets/WhatsApp Image 2023-11-17 at 22.20.31_8c7f549d.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	gap: 1.5rem;
	min-height: 100vh;
	padding: 15px;
	width: 100%;
	color: #fff;
}
.banner > .banner-content {
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.banner > .banner-content > .banner-title {
	font-size: 3rem;
	font-weight: bold;
	margin-bottom: 10px;
	letter-spacing: 1px;
}
.banner > .banner-content > .banner-description {
	font-size: 1.5rem;
	font-weight: normal;
	max-width: 600px;
	margin: 0 auto;
	letter-spacing: 1.5px;
}
.banner-content > .buttons {
	display: flex;
	gap: 2rem;
	margin-top: 10px;
}
.banner_contents > .buttons > a {
	font-size: 18px;
	font-weight: 400;
}
.freight-link {
	background-color: #3498db;
	padding: 5px;
	border-radius: 10px;
	font-size: 12px;
	font-weight: 500;
	letter-spacing: 1.5px;
	width: fit-content;
}
.banner-content > .buttons > .banner_signup {
	background-color: #3498db;
	padding: 5px 15px;
	border-radius: 10px;
	font-size: 12px;
	font-weight: 500;
	letter-spacing: 1.5px;
}
.banner-content > .buttons > .banner_signin {
	background-color: #3498db;
	padding: 5px 15px;
	border-radius: 10px;
	font-size: 12px;
	font-weight: 500;
	letter-spacing: 1.5px;
}
.banner_shipment_mode_container {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	color: white;
	letter-spacing: 1.3px;
	gap: 20px;
	width: 100%;
	background-color: transparent;
}
.banner_shipping_mode {
	background-color: rgba(33, 33, 33, 0.5);
	padding: 2rem 1rem;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	gap: 8px;
}
.banner_icons {
	width: 3rem !important;
	height: 3rem !important;
	color: #3498db;
}
.banner_shipping_mode > span {
	display: flex;
	align-items: center;
	gap: 8px;
}
.banner_shipping_mode > span > p {
	font-size: 21px;
	font-weight: 500;
}

.company_services {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
	gap: 25px;
	width: 100%;
}
.services_details {
	display: flex;
	flex-direction: column;
	gap: 15px;
	padding: 1rem;
}
.services_details > a {
	color: var(--color);
	font-size: 14px;
	width: fit-content;
	padding: 5px 10px;
}
.services_icons {
	color: var(--lightblue);
	height: 4.5rem !important;
	width: 4.5rem !important;
}
.services_desc {
	font-weight: 400;
	color: var(--color);
	letter-spacing: 1px;
}
.services_details > .services_heading {
	font-weight: bold;
	color: #36454f;
}
.company_service_container {
	display: flex;
	flex-direction: column;
	gap: 2rem;
	color: var(--color);
}
.company_h3 {
	padding: 1rem;
	font-size: 2.3rem;
	font-weight: bold;
	color: var(--color);
}
.someFact {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
	gap: 2px;
	width: 100%;
	justify-content: center;
	background-color: white;
	color: var(--color);
}
.someFact > .left_side {
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
	padding: 1rem;
	color: var(--color) !important;
}
.someFact > .right_side {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	gap: 2px;
	width: 100%;
	justify-content: center;
	padding: 1rem;
	color: white;
}
.someFact > .right_side > .right_content {
	display: flex;
	flex-direction: column;
	border-radius: 5px;
	gap: 5px;
	align-items: center;
	justify-content: center;
	padding: 10px;
}
.someFact > .right_side > .right_content:nth-child(1) {
	background-color: royalblue;
	color: white;
}
.someFact > .right_side > .right_content:nth-child(2) {
	background-color: darkgray;
	color: white;
}
.someFact > .right_side > .right_content:nth-child(3) {
	background-color: seagreen;
}
.happyClient_icons {
	width: 2rem !important;
	height: 2rem !important;
}
.company_h3 > span {
	color: var(--lightblue);
}
.inquiry_sections {
	background: linear-gradient(rgba(33, 33, 33, 0.6), transparent),
		url("../assets/395010983_240611638998568_2161293114156439835_n.jpg");
	min-height: 80vh;
	width: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	gap: 2rem;
	justify-content: center;
	padding: 4rem;
	font-size: 16px;
	letter-spacing: 1px;
}
.inquiry_sections > .inq_left {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 1.3rem;
	color: white;
}
.inquiry_sections > .inq_right {
	display: flex;
	gap: 1rem;
	justify-content: space-around;
	align-items: center;
	color: white;
}
.inquiry_sections > .inq_right > .right_contents {
	background-color: rgba(255, 255, 255, 0.2);
	width: 100%;
	padding: 1rem 1.5rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	border-radius: 5px;
}
.right_contents > .inq_icon {
	color: var(--lightblue);
	width: 3rem;
	height: 3rem;
}
.inquiry_sections > .inq_left > .inq_fst_p {
	font-size: 2rem;
}
.keyFeatures_section {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	gap: 20px;
	justify-content: center;
	color: var(--color);
}
.inquiry_left {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 1.5rem;
	padding: 1rem;
	text-align: center;
}
.group_items {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 1rem;
	line-height: 1.7;
	text-align: center;
	align-items: center;
}
.inquiry_right {
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
	padding: 1rem;
	text-align: center;
}
.inquiry_right > .key_about_text {
	background-color: var(--lightblue);
	color: white;
	width: fit-content;
	padding: 0.8rem;
	border-radius: 10px;
	align-self: center;
}
.check_icon {
	width: 3rem !important;
	height: 3rem !important;
	color: #3498db;
}
.key_f_text {
	background-color: var(--lightblue);
	width: fit-content;
	padding: 0.8rem;
	border-radius: 10px;
	align-self: center;
	color: white;
}
.key_h_text {
	font-weight: bold;
	color: var(--color);
}
.key_right_desc1 {
	font-weight: 500;
	letter-spacing: 1.5px;
	color: var(--color);
}
.key_right_desc2 {
	font-weight: 500;
	letter-spacing: 1.5px;
}
.key_right_desc3 {
	font-weight: 500;
	letter-spacing: 1.5px;
}
.inquiry_right > .right_wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100%;
	gap: 2rem;
}
.more_section {
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
	justify-content: center;
	width: 100%;
	min-height: 50vh;
	background-color: var(--lightblue) !important;
	color: white;
	padding: 2rem;
}
.more_section > h2 {
	display: flex;
	font-weight: 900;
	font-size: 3rem;
	flex-wrap: wrap;
	width: 100%;
}
.more_section > .more_links {
	display: flex;
	width: 100%;
	gap: 1.5rem;
	flex-wrap: wrap;
}
.more_section > .more_links > a {
	font-size: 1.5rem;
	position: relative;
	color: white;
}
.more_section > .more_links > a:hover::after {
	width: 100%;
}
.more_section > .more_links > a::after {
	position: absolute;
	bottom: -3px;
	content: "";
	height: 3px;
	left: 0;
	width: 0%;
	background-color: white;
	transition: all 0.3s;
}
@media (max-width: 900px) {
	.banner_contents > .buttons > a {
		font-size: 20px;
		font-weight: 400;
	}
	.home_container {
		color: darkgray;
		background-color: lightgray;
		height: fit-content;
		width: 100%;
	}
}
.where-are-we {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 10px;
	width: 100%;
	background-color: var(--background) !important;
	color: var(--color) !important;
}
