.road-container {
	margin-top: 95px;
	width: 100%;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	text-align: center;
	background-color: var(--background);
	color: var(--color);
}
.road-container > img {
	width: 100%;
	object-fit: cover;
}
.road-content {
	padding: 15px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
}
